
.mainContainer{
height:100%;
text-align: center;
align-items: center;
    background-color:antiquewhite;
#navbar{
background-color:#f9545b;
    display:flex;
    justify-content: center;

    #logo{

        border-radius:75%;
        width:100px;
        height:80px;
    }
    #searchbar{

    width:900px;
    height:40px;
    margin-top: 14px;
    font-size:x-large;

    }
    button{

    padding: 1px 29px;
    border: 2px solid black;
    font-size:x-large;
    background-color:gray;
    border-radius:75%;
    }
}
.Homepage{
   
text-align: center;
    img{


    }
}

   .renderimg{
left:50px;
position: absolute;
height:750px;
    width:850px;
img{
    
    height:750px;
    width:750px;
}
   }


.rendercomp{
    height: 350px;
    width:400px;
    position: fixed;
    top:160px;
    border : 3px solid cornflowerblue;
    right:160px;
}
#Gridcontainer{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    // grid-row-gap: 2px;
    // grid-column-gap: 2px;
    position: absolute;
    
    
         top:130px;
         left:50px;
         width:100%;
         h4{

            text-align: justify;     
         }

.linkdiv{
    padding: 1px;
    // background-color: #9ae1d3;
    //border : 3px solid cornflowerblue;
        height: 290px;
        width:265px;
        position: relative;
        text-align: center;
        // top:130px;
        // left:150px;
    img{
    
        height:200px;
        width:250px;
        transition: width 2s,transform 2s;
    }
    img:hover{
        transform: scale(1.5);

    }
    }
}
    #backbtn{
        top:90px;
        position:absolute;
       right:700px;
    }

    .Route{
        display: flex;
            flex-direction: row;
justify-content: space-evenly;

      
            
    //    list-style-type:none;
    //     margin: 0px;
    //     padding: 0px;
    //     position: absolute;
    //     top:400px;

        link{
            padding :10px 10px;
            margin: 0px;
            
                        }
     

    }
}