#navbar{
background-color: cornflowerblue;
    display:flex;
    justify-content: center;

    #logo{

        border-radius:75%;
        width:100px;
        height:80px;
    }
    #searchbar{

width:900px;
height:40px;
margin-top: 14px;
font-size:x-large;

    }
}